.flabAdvantages {
  padding-top: 3.125rem;
  position: relative;
  min-height: 67.0625rem;

  &:before {
    content: '';
    position: absolute;
    top: 9.375rem;
    right: 3.125rem;
    background-image: url("../images/advantages/1.png");
    background-repeat: no-repeat;
    width: 20.8125rem;
    height: 16.125rem;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/advantages/2.png");
    background-repeat: no-repeat;
    width: 16.5625rem;
    height: 19.6875rem;
    z-index: -1;
  }
}

@media (max-width: 991.98px) {
  .flabAdvantages {
    min-height: 31.25rem;
  }
}

@media (max-width: 1599.98px) {
  .flabAdvantages:before {
    display: none;
  }
}

@media (max-width: 1599.98px) {
  .flabAdvantages:after {
    display: none;
  }
}

.flabAdvantages__hiddenList {
  display: none;
}

@media (max-width: 991.98px) {
  .flabAdvantages__hiddenList {
    display: block;
  }
}

.flabAdvantages__item p {
  margin-bottom: 0;
  font-size: 1.25rem;
  position: absolute;
}

.flabAdvantages__wrap {
  position: relative;
  padding-top: 26.875rem;
}

@media (max-width: 991.98px) {
  .flabAdvantages__wrap {
    display: none;
  }
}

.flabAdvantages__orbitWrap {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 100%;
  left: 50%;
}

.flabAdvantages {
  .orbit {
    width: 100%;
    margin: auto;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  .orbitWay {
    width: 100%;
    border: 0.125rem solid #e8e8e8;
    margin: auto;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
}

.flabAdvantages__orbitFirst {
  max-width: 15.625rem;
  min-height: 15.625rem;
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;

  p {
    left: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitFirst {
    max-width: 13.75rem;
    min-height: 13.75rem;
  }
}

.flabAdvantages__orbitSecond {
  max-width: 20.625rem;
  min-height: 20.625rem;
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;

  p {
    right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitSecond {
    max-width: 18.75rem;
    min-height: 18.75rem;
  }
}

.flabAdvantages__orbitThird {
  max-width: 25.625rem;
  min-height: 25.625rem;
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;

  p {
    left: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitThird {
    max-width: 23.75rem;
    min-height: 23.75rem;
  }
}

.flabAdvantages__orbitFourth {
  max-width: 30rem;
  min-height: 30rem;
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;

  p {
    right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitFourth {
    max-width: 28.125rem;
    min-height: 28.125rem;
  }
}

.flabAdvantages__orbitFifth {
  max-width: 35rem;
  min-height: 35rem;
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;

  p {
    left: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitFifth {
    max-width: 33.125rem;
    min-height: 33.125rem;
  }
}

.flabAdvantages__orbitSixth {
  max-width: 40rem;
  min-height: 40rem;
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;

  p {
    right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitSixth {
    max-width: 38.125rem;
    min-height: 38.125rem;
  }
}

.flabAdvantages__orbitSeventh {
  max-width: 45rem;
  min-height: 45rem;
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 70s;

  p {
    left: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitSeventh {
    max-width: 43.125rem;
    min-height: 43.125rem;
  }
}

.flabAdvantages__orbitEighth {
  max-width: 50rem;
  min-height: 50rem;
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 50s;

  p {
    right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitEighth {
    max-width: 48.125rem;
    min-height: 48.125rem;
  }
}

.flabAdvantages__orbitNineth {
  max-width: 55rem;
  min-height: 55rem;
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 80s;

  p {
    left: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitNineth {
    max-width: 53.125rem;
    min-height: 53.125rem;
  }
}

.flabAdvantages__orbitTenth {
  max-width: 60rem;
  min-height: 60rem;
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;

  p {
    right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitTenth {
    max-width: 58.125rem;
    min-height: 58.125rem;
  }
}

.flabAdvantages__way {
  z-index: -9;
  position: relative;
}

.flabAdvantages__wayFirst {
  max-width: 15.625rem;
  min-height: 15.625rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayFirst {
    max-width: 13.75rem;
    min-height: 13.75rem;
  }
}

.flabAdvantages__waySecond {
  max-width: 20.625rem;
  min-height: 20.625rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__waySecond {
    max-width: 18.75rem;
    min-height: 18.75rem;
  }
}

.flabAdvantages__wayThird {
  max-width: 25.625rem;
  min-height: 25.625rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayThird {
    max-width: 23.75rem;
    min-height: 23.75rem;
  }
}

.flabAdvantages__wayFourth {
  max-width: 30rem;
  min-height: 30rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayFourth {
    max-width: 28.125rem;
    min-height: 28.125rem;
  }
}

.flabAdvantages__wayFifth {
  max-width: 35rem;
  min-height: 35rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayFifth {
    max-width: 33.125rem;
    min-height: 33.125rem;
  }
}

.flabAdvantages__waySixth {
  max-width: 40rem;
  min-height: 40rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__waySixth {
    max-width: 38.125rem;
    min-height: 38.125rem;
  }
}

.flabAdvantages__waySeventh {
  max-width: 45rem;
  min-height: 45rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__waySeventh {
    max-width: 43.125rem;
    min-height: 43.125rem;
  }
}

.flabAdvantages__wayEighth {
  max-width: 50rem;
  min-height: 50rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayEighth {
    max-width: 48.125rem;
    min-height: 48.125rem;
  }
}

.flabAdvantages__wayNineth {
  max-width: 55rem;
  min-height: 55rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayNineth {
    max-width: 53.125rem;
    min-height: 53.125rem;
  }
}

.flabAdvantages__wayTenth {
  max-width: 60rem;
  min-height: 60rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__wayTenth {
    max-width: 58.125rem;
    min-height: 58.125rem;
  }
}

.flabAdvantages__orbitCenter {
  max-width: 10.9375rem;
  width: 100%;
  min-height: 10.9375rem;
  box-shadow: 0px 0.25rem 1.3125rem 0 rgba(79, 228, 228, 0.48);
  background-image: linear-gradient(107deg, #002738, #fc3f69 27%, #002652 55%, #36639f 79%, #4fe4e4);
  border: 0rem solid #fff;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitCenter {
    border-width: 0.9375rem;
    box-shadow: none;
  }
}

.flabAdvantages__orbitLogo {
  max-width: 9.375rem;
  width: 100%;
  min-height: 9.375rem;
  background-color: #fff;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitLogo {
    max-width: 7.5rem;
    min-height: 7.5rem;
  }
}

.flabAdvantages__orbitLogoImg {
  max-width: 6.25rem;
  width: 100%;
  min-height: 3.3125rem;
  margin: auto;

  img, svg {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .flabAdvantages__orbitLogoImg {
    max-width: 4.375rem;
    min-height: 1.4375rem;
  }
}

.flabAdvantages__atmosphereWrapFirst {
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flabAdvantages__atmosphereWrapSecond {
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flabAdvantages__atmosphereWrapThird {
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flabAdvantages__atmosphereWrapFourth {
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapFifth {
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapSixth {
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapSeventh {
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 70s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapEighth {
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapNineth {
  animation-name: planet-rotate-back;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 80s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphereWrapTenth {
  animation-name: planet-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  position: absolute;
  transform-origin: left center;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
}

.flabAdvantages__atmosphere {
  width: 2.4375rem;
  min-height: 2.4375rem;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: -0.9375rem;
}

@media (max-width: 1199.98px) {
  .flabAdvantages__atmosphere {
    left: -1.1875rem;
  }
}

.flabAdvantages__atmosphere--firstAtmos {
  border: 0.0625rem solid #36639f;
}

.flabAdvantages__atmosphere--secondAtmos {
  border: 0.0625rem solid #fc3f69;
}

.flabAdvantages__atmosphere--thirdAtmos {
  border: 0.0625rem solid #002738;
}

.flabAdvantages__atmosphere--fourthAtmos {
  border: 0.0625rem solid #369f4c;
}

.flabAdvantages__atmosphere--fifthAtmos {
  border: 0.0625rem solid #4fe4e4;
}

.flabAdvantages__atmosphere--sixthAtmos {
  border: 0.0625rem solid #8b315c;
}

.flabAdvantages__atmosphere--seventhAtmos {
  border: 0.0625rem solid #cfd84e;
}

.flabAdvantages__atmosphere--eighthAtmos {
  border: 0.0625rem solid #7644b8;
}

.flabAdvantages__atmosphere--ninethAtmos {
  border: 0.0625rem solid #dd8b3e;
}

.flabAdvantages__atmosphere--tenthAtmos {
  border: 0.0625rem solid #f82bff;
}

.flabAdvantages__planet {
  max-width: 1.5625rem;
  width: 100%;
  min-height: 25px;
  border-radius: 100%;
}

.flabAdvantages__planet--firstPlanet {
  background-color: #36639f;
}

.flabAdvantages__planet--secondPlanet {
  background-color: #fc3f69;
}

.flabAdvantages__planet--thirdPlanet {
  background-color: #002738;
}

.flabAdvantages__planet--fourthPlanet {
  background-color: #369f4c;
}

.flabAdvantages__planet--fifthPlanet {
  background-color: #4fe4e4;
}

.flabAdvantages__planet--sixthPlanet {
  background-color: #8b315c;
}

.flabAdvantages__planet--seventhPlanet {
  background-color: #cfd84e;
}

.flabAdvantages__planet--eighthPlanet {
  background-color: #7644b8;
}

.flabAdvantages__planet--ninethPlanet {
  background-color: #dd8b3e;
}

.flabAdvantages__planet--tenthPlanet {
  background-color: #f82bff;
}

@keyframes planet-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes planet-rotate-back {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}